p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
    color: #3f11bd; 
    letter-spacing: 8px;
    line-height: 50px;
    text-align: justify;
    text-indent: 50%;
    text-transform: capitalize;
}